body {
    margin: auto;
    max-width: 375px;
    height: 100%;
}

.button {
    margin: 10px;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;    
    max-width: 90%;
}

.food-pick {
    color: rgb(139, 21, 235);
    font-weight: 900;
    font-size: 30px;
    text-align: center;
}

.food-pick-cont {
    margin-bottom: 20px;
}

.header-text {
    margin: 30px 10px;
}

h1 {
    font-size: 25px;
    font-weight: 900;
    text-align: center;
    padding: 10px;
}

p {
    text-align: center;
}

.div-cont {
    min-height: 150px;
    min-width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px;
}

.meat-cont {
    background-image: url(meat-cont.jpg);
    background-size: cover;
}

.handhelds-cont {
    background-image:url(handhelds-cont.jpg);
    background-size: cover;
}

.mexican-cont {
    background-image:url(mexican-cont.jpg);
    background-size: cover;
}

.pasta-cont {
    background-image:url(pasta-cont.jpg);
    background-size: cover;
}

.asian-cont {
    background-image:url(asian-cont.jpg);
    background-size: cover;
}

.flavor-blasting-cont {
    background-image:url(flavor-blasting-cont.jpg);
    background-size: cover;
}

.white-people-cont {
    background-image:url(white-people-cont.jpg);
    background-size: cover;
}

.breaky-cont {
    background-image:url(breaky-cont.jpg);
    background-size: cover;
}

.veggie-cont {
    background-image:url(veggies-cont.jpg);
    background-size: cover;
}

#pasta-btn {
    background-color: rgb(255, 139, 62);
}


#veggie-btn {
    background-color:  rgb(31, 197, 25);
}

#meat-btn {
    background-color: pink;
    color: black;
}

#flavor-blasting-btn {
    background-color: rgb(179, 25, 226);
    color: white;
}

#breaky-btn {
    background-color: rgb(226, 72, 136);
    color: white;
}

@media (min-width: 350px) {
    body {
        height: 100%;
        max-width: 70%;
        margin-bottom: 20px;
    }
    .buttons-container {
        max-width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }
    .div-cont {
        margin: 0;
    }
    h1 {
        font-size: 35px;
    }
}